<?xml version="1.0" encoding="utf-8"?>
<robot name="balancebot">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.000213  -0.337033 0.000683" rpy="0 0 0" />
      <mass value="1.083032" />
      <inertia ixx="0.002560" ixy="0" ixz="0" iyy="0.001089" iyz="0" izz="0.003229" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792 0.820 0.933 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="L">
    <inertial>
      <origin xyz="0 -0.020064 0" rpy="0 0 0" />
      <mass value="0.444958" />
      <inertia ixx="0.000454" ixy="0" ixz="0" iyy="0.000789" iyz="0" izz="0.000454" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792 0.820 0.933 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_j" type="continuous">
    <origin xyz="0.079737 -0.445274 0.000683" rpy="1.5708 -1.5708 0" />
    <parent link="base_link" />
    <child link="L" />
    <axis xyz="0 1 0" />
  </joint>

  <link name="R">
    <inertial>
      <origin xyz="0 -0.020064 0" rpy="0 0 0" />
      <mass value="0.444958" />
      <inertia ixx="0.000454" ixy="0" ixz="0" iyy="0.000789" iyz="0" izz="0.000454" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792 0.820 0.933 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_j" type="continuous">
    <origin xyz="-0.080163 -0.445274 0.000683" rpy="1.5708 1.5708 0" />
    <parent link="base_link" />
    <child link="R" />
    <axis xyz="0 1 0" />
  </joint>
</robot>

